@font-face {
    font-family: Ubuntu;
    src: url(./font/Ubuntu-R.ttf);
}

body {
    font-family: Ubuntu, Arial, sans-serif;
    color: #fefaff;
    background-color: #252229;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    color: #c6c4c6;
    background-color: #1c1b1c;
    text-align: center;
    padding: 1em;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    max-width: 600px;
    margin: auto;
    padding: 0.2em;
}

.timeline-container {
    max-width: 1200px;
    margin: 0 auto 2em auto;
}

.timeline {
    --max-range: calc(var(--max) - var(--min));
    border-spacing: 0;
    width: 100%;
}

.timeline img {
    height: 2em;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.36s;
}

.timeline img:hover {
    height: 3em;
}

.timeline:has(img:hover) img:not(:hover) {
    opacity: 20%;
}

.timespan-container {
    height: 2.2em;
    width: 100%;

    position: relative;

    /* magic https://stackoverflow.com/a/64921523/23756482 */
    --shf: 4.9406564584124654e-322;
    /*background: repeating-linear-gradient(90deg, rgba(128, 128, 128, 0.51) 0, transparent 1px, transparent calc(100% / var(--max-range) - 1px), rgba(128, 128, 128, 0.51) calc(100% / var(--max-range)));*/
    --line-color: rgba(128, 128, 128, 0.05);
    background: repeating-linear-gradient(
        to right,
        var(--line-color),
        var(--line-color) 3px,
        transparent 1px,
        transparent calc(100% / var(--max-range)),
        transparent 1px,
        var(--line-color) 1px
    );
}

.timespan {
    position: absolute;
    display: inline-block;

    top: 50%;
    transform: translateY(-50%);
    height: 1em;
    left: calc((var(--from) - var(--min)) / var(--max-range) * 100%);
    width: calc((var(--to) - var(--from)) / var(--max-range) * 100%);

    border-radius: 0.2em;
}

.timespan.current {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.timespan.level-basic, .timespan.level-basic::after {
    background-color: #848484;
}

.timespan.level-beginner, .timespan.level-beginner::after {
    background-color: #abcda3;
}

.timespan.level-proficient {
    background: linear-gradient(90deg, #8eca83 0%, #5eec44 60%);
}

.timespan.level-proficient::after {
    background-color: #5eec44;
}

@keyframes expert-gradient {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes expert-gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.timespan.level-expert {
    background: repeating-linear-gradient(-45deg, #ad58ec 0%, #e7449d 35%, #e7449d 50%, #bd36e4 70%, #ad58ec 90%);
    background-size: 200% auto;
    animation: expert-gradient 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.timespan.level-expert::after {
    background: repeating-linear-gradient(-45deg, #ad58ec 0%, #e7449d 35%, #e7449d 50%, #bd36e4 70%, #ad58ec 90%);
    animation-timing-function: linear;
}

@media only screen and (max-width: 600px) {
    .timeline-container {
        overflow: hidden;
    }
}

@media only screen and (min-width: 600px) {
    .timespan.current::after {
        content: '\00a0';
        display: inline-block;
        position: absolute;
        border-radius: 0;
        left: calc(100%);
        top: 0;
        height: 1em;
        width: 1em;
        opacity: 50%;
        clip-path: polygon(
                0% 0%,
                0% 100%,
                50% 100%,
                100% 75%,
                100% 25%,
                50% 0%
        );
    }
}
